<app-nav-bar></app-nav-bar>

<div class="container spaceFromFooter">
  <div class="row">
    <div class="col-md-3 d-none d-md-block colunaCategorias">
      <ul class="list-group">
        <li class="list-group-item jtList2">
          <b>Reset Filters</b><br />
          <a
            type="button"
            mat-icon-button
            aria-label="Example icon button with a left arrow"
            (click)="resetFilters()"
          >
            <span class="material-icons">
              replay
            </span>
          </a>
        </li>

        <li class="list-group-item jtList2">
          <b>Locations</b>
          <br />
          <a
            type="button"
            [ngClass]="{
              ativoxd: 'Algarve' === this.city_text
            }"
            (click)="selectCityList('Algarve')"
            >- Algarve</a
          ><br />
          <a
            type="button"
            [ngClass]="{
              ativoxd: 'Lisbon' === this.city_text
            }"
            (click)="selectCityList('Lisbon')"
            >- Lisbon</a
          ><br />
          <a
            type="button"
            [ngClass]="{
              ativoxd: 'Porto' === this.city_text
            }"
            (click)="selectCityList('Porto')"
            >- Porto</a
          >
        </li>

        <li class="list-group-item jtList2" *ngIf="categorias">
          <b>Categories</b>
          <br />
          <div *ngFor="let category of categorias.categories">
            <a
              type="button"
              [ngClass]="{
                ativoxd: category.categories.name === this.categoryText,
                ativoxd2: category.categories.id == this.categoryQ
              }"
              (click)="
                selectCategory(category.categories.id, category.categories.name)
              "
              >- {{ category.categories.name }}</a
            ><br />
          </div>
        </li>

        <li class="list-group-item jtList2" *ngIf="cozinhas">
          <b>Cuisines</b>
          <br />
          <div *ngFor="let cuisine of cozinhas.cuisines">
            <a
              type="button"
              [ngClass]="{
                ativoxd: cuisine.cuisine.cuisine_name === this.cuisineText,
                ativoxd2: cuisine.cuisine.cuisine_id == this.cuisineQ
              }"
              (click)="
                selectCuisine(
                  cuisine.cuisine.cuisine_id,
                  cuisine.cuisine.cuisine_name
                )
              "
              >- {{ cuisine.cuisine.cuisine_name }}</a
            ><br />
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="container jtContainer">
        <p>
          <button
            mat-icon-button
            aria-label="Example icon button with a left arrow"
            routerLink="/landing-page/{{ city_text }}"
          >
            <span class="material-icons">
              keyboard_backspace
            </span>
          </button>
          {{ city_text }} Restaurants
        </p>
      </div>

      <ul class="list-group">
        <h4 class="centradoxd" *ngIf="results == 0">
          Sorry, no results found. Try other filters.
        </h4>
        <div *ngFor="let restaurante of restaurantes">
          <li class="list-group-item jtList">
            <img
              [src]="restaurante.restaurant.thumb"
              onerror="this.onerror=null; this.src='assets/imgs/placeHolderListRestaurant.png'"
            />
            <div class="listRestaurante">
              <br />
              <a routerLink="/restaurant/{{ restaurante.restaurant.id }}">
                {{ restaurante.restaurant.name }}</a
              >
              <p>
                <b>Address:</b> {{ restaurante.restaurant.location.address }}
                <br />
                <b>Cuisines:</b> {{ restaurante.restaurant.cuisines }} <br />
                <b>Hours:</b> {{ restaurante.restaurant.timings }}<br />
                <b>Cost for two:</b>
                {{ restaurante.restaurant.average_cost_for_two
                }}{{ restaurante.restaurant.currency }} <br />
                <b>Highlights:</b> {{ restaurante.restaurant.highlights }}
              </p>
            </div>
            <div class="jtScore">
              <i class="fas fa-star"></i>
              {{ restaurante.restaurant.user_rating.aggregate_rating }}/5
            </div>
            <br /><br />
          </li>
        </div>
      </ul>
      <nav aria-label="Page navigation ">
        <ul class="pagination">
          <li class="page-item" *ngFor="let page of pages">
            <a
              class="page-link tiraBStyle"
              type="button"
              [ngClass]="{
                selectPagination: this.currentPage === page
              }"
              (click)="pagination(page)"
              >{{ page }}</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
